interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:PingMsg
      xmlns:ns0="http://www.sap.com/DXPPTypes"/></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"urn:#ping"'
    method: POST
    uri: https://dws-test.paynet.ch/DWS/DWS
  response:
    body:
      string: <env:Envelope xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><dxpp:PingMsgReply
        xmlns:dxpp="http://www.sap.com/DXPPTypes"><dxpp:State>OK</dxpp:State><dxpp:Timestamp>2019-06-04T09:08:19.232Z</dxpp:Timestamp><dxpp:Version>Not
        defined</dxpp:Version></dxpp:PingMsgReply></env:Body></env:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
