interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:ShipmentDeliveryMsg
      xmlns:ns0="http://www.sap.com/DXPPShipmentExchange"><ns1:Authorization xmlns:ns1="http://www.sap.com/DXPPTypes"><ns1:UserName>Campt.System.TEST.7318</ns1:UserName><ns1:Password>CamptSystem&amp;19</ns1:Password></ns1:Authorization><ns2:Content
      xmlns:ns2="http://www.sap.com/DXPPTypes">YldsbmNtRjBhVzl1SUhSbGMzUT0=</ns2:Content></ns0:ShipmentDeliveryMsg></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"urn:#takeShipment"'
    method: POST
    uri: https://dws-test.paynet.ch/DWS/DWS
  response:
    body:
      string: <env:Envelope xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><dsx:ShipmentDeliveryMsgReply
        xmlns:dsx="http://www.sap.com/DXPPShipmentExchange"><dxpp:ShipmentID xmlns:dxpp="http://www.sap.com/DXPPTypes">SC-00000000000019511263</dxpp:ShipmentID></dsx:ShipmentDeliveryMsgReply></env:Body></env:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
