interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ebill-ki.postfinance.ch/B2BService/B2BService.svc?xsd=xsd0
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://ch.swisspost.ebill.b2bservice" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://ch.swisspost.ebill.b2bservice"><xs:import schemaLocation="https://ebill-ki.postfinance.ch/B2BService/B2BService.svc?xsd=xsd2"
        namespace="http://swisspost_ch.ebs.ebill.b2bservice"/><xs:import schemaLocation="https://ebill-ki.postfinance.ch/B2BService/B2BService.svc?xsd=xsd4"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:element
        name="GetInvoiceListBiller"><xs:complexType><xs:sequence><xs:element minOccurs="1"
        name="BillerID" nillable="true" type="xs:string"/><xs:element minOccurs="1"
        name="ArchiveData" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element><xs:element
        name="GetInvoiceListBillerResponse"><xs:complexType><xs:sequence><xs:element
        minOccurs="0" name="GetInvoiceListBillerResult" nillable="true" type="q1:ArrayOfInvoiceReport"
        xmlns:q1="http://swisspost_ch.ebs.ebill.b2bservice"/></xs:sequence></xs:complexType></xs:element><xs:ele[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ebill-ki.postfinance.ch/B2BService/B2BService.svc?xsd=xsd3
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://schemas.datacontract.org/2004/07/eBill.B2BServiceLib.Logic"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/eBill.B2BServiceLib.Logic"><xs:import
        schemaLocation="https://ebill-ki.postfinance.ch/B2BService/B2BService.svc?xsd=xsd1"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:simpleType
        name="State"><xs:restriction base="xs:string"><xs:enumeration value="Open"><xs:annotation><xs:appinfo><EnumerationValue
        xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue></xs:appinfo></xs:annotation></xs:enumeration><xs:enumeration
        value="Paid"><xs:annotation><xs:appinfo><EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue></xs:appinfo></xs:annotation></xs:enumeration><xs:enumeration
        value="Rejected"><xs:annotation><xs:appinfo><EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue></xs:appinfo></xs:annotation></xs:enumeration><xs:enumeration
        value="Processing"><xs:annotation><xs:appinfo><EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</Enumeration[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ebill-ki.postfinance.ch/B2BService/B2BService.svc?xsd=xsd4
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><xs:complexType
        name="ArrayOfstring"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded"
        name="string" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element
        name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring"/></xs:schema>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      X-RP-UNIQUE_ID:
      - YmpLPUjLVddjjTR3jj3aywAABhg
    status:
      code: 200
      message: OK
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<soap-env:Envelope xmlns:soap-env=\"http://www.w3.org/2003/05/soap-envelope\"><soap-env:Header
      xmlns:wsa=\"http://www.w3.org/2005/08/addressing\"><wsa:Action>http://ch.swisspost.ebill.b2bservice/B2BService/ExecutePing</wsa:Action><wsa:MessageID>urn:uuid:e1116f5e-22a4-443c-9c56-3475d3fb0d1c</wsa:MessageID><wsa:To>https://ebill-ki.postfinance.ch/B2BService/B2BService.svc</wsa:To><wsse:Security
      xmlns:wsse=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\"><wsse:UsernameToken><wsse:Username>yb1021209</wsse:Username><wsse:Password
      Type=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText\">\xA3cAmp\xA3339955</wsse:Password></wsse:UsernameToken></wsse:Security></soap-env:Header><soap-env:Body><ns0:ExecutePing
      xmlns:ns0=\"http://ch.swisspost.ebill.b2bservice\"><ns0:BillerID>41101000001021209</ns0:BillerID><ns0:eBillAccountID
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:nil=\"true\"/><ns0:ErrorTest>false</ns0:ErrorTest><ns0:ExceptionTest>false</ns0:ExceptionTest></ns0:ExecutePing></soap-env:Body></soap-env:Envelope>"
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8; action="http://ch.swisspost.ebill.b2bservice/B2BService/ExecutePing"
      SOAPAction:
      - '"http://ch.swisspost.ebill.b2bservice/B2BService/ExecutePing"'
    method: POST
    uri: https://ebill-ki.postfinance.ch/B2BService/B2BService.svc
  response:
    body:
      string: <s:Envelope xmlns:s="http://www.w3.org/2003/05/soap-envelope" xmlns:a="http://www.w3.org/2005/08/addressing"
        xmlns:u="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><s:Header><a:Action
        s:mustUnderstand="1">http://ch.swisspost.ebill.b2bservice/B2BService/ExecutePingResponse</a:Action><ActivityId
        CorrelationId="e1f882d8-31c9-44e0-b458-3b6d70f15743" xmlns="http://schemas.microsoft.com/2004/09/ServiceModel/Diagnostics">00000000-0000-0000-0000-000000000000</ActivityId><a:RelatesTo>urn:uuid:e1116f5e-22a4-443c-9c56-3475d3fb0d1c</a:RelatesTo><o:Security
        s:mustUnderstand="1" xmlns:o="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><u:Timestamp
        u:Id="_0"><u:Created>2022-04-29T08:02:38.998Z</u:Created><u:Expires>2022-04-29T08:07:38.998Z</u:Expires></u:Timestamp></o:Security></s:Header><s:Body><ExecutePingResponse
        xmlns="http://ch.swisspost.ebill.b2bservice"><ExecutePingResult>41101000001021209</ExecutePingResult></ExecutePingResponse></s:Body></s:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
      X-RP-UNIQUE_ID:
      - YmubnkfRF6duesQ9A1fmLAAABwI
    status:
      code: 200
      message: OK
version: 1
